body {
	text-align: center;	
}
h1 {
	color: #979797;
}
#question {
	width: 100%;
	margin: 30px 0;
	font-size: 30px;
}

#answerButton {
  width: 50%;
  margin:0 auto;
}

.buttonWrap{
  text-align:center;
}